*{
  background-color: #02162D;
  font-family: Popins, sans-serif;
  box-sizing: border-box;
}
body{
  
  padding: 0px 50px 0px 50px;
  color: #CDCDCD;
}

@media only screen and (max-width: 920px) {
  body{
  padding: 0px 20px 0px 20px;
  }
}

@media only screen and (max-width: 560px) {
  body{
  padding: 0px 5px 0px 5px;
  }
}